@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfaf9;
  color: #333;
  position: relative;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.shadowBtn {
  box-shadow: 1px 8px 35px rgba(0, 0, 0, 0.12);
}
