@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  overflow-x: hidden;
}
body {
  background-color: #fdfaf9;
  color: #333;
  position: relative;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.shadowBtn {
  box-shadow: 1px 8px 35px rgba(0, 0, 0, 0.12);
}
.socialIcons > li > a {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.socialIcons > li > a > svg {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}
.socialIcons > li > a:hover {
  background-color: #008ec1;
  color: white;
  transition: all 0.3s ease;
}
.socialIcons > li > a:hover > svg {
  fill: white;
  transition: all 0.3s ease;
}
.contactForm > input {
  width: 100%;
  padding: 14px 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: "poppins", sans-serif;
}
.contactForm > input:focus {
  outline: none;
}
.contactForm > textarea:focus {
  outline: none;
}
.contactForm > input::placeholder {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.contactForm > textarea {
  font-family: "poppins", sans-serif;
  width: 100%;
  padding: 14px 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 150px;
}
.contactForm > textarea::placeholder {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.contactForm > label {
  font-weight: 500;
  font-family: "Merriweather", sans-serif;
  font-size: 1.2rem;
}
